
.btn.btn-danger.btn-md.delete_all{
	vertical-align: bottom;
	margin:10px;
}

.btn.btn-primary.delete_all{
	vertical-align: bottom;
	margin:10px 10px 10px 15px;
}

.btn.btn-primary.create{
	vertical-align: bottom;
	margin:10px 10px 10px 15px;
}

.searchbarback{
	padding-right: 0;

}